* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #0f1320;
    color: #ffffff;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background: #0f1320;
}

.navbar a {
    color: #ccc;
    margin-left: 20px;
    text-decoration: none;
}

.logo {
    color: #fbb034;
}

/* HERO */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 80px 60px;
}

.hero-text h1 {
    font-size: 48px;
}

.hero-text span {
    color: #fbb034;
}

.hero-text p {
    margin: 15px 0;
    color: #aaa;
}

.hero-text button {
    padding: 12px 30px;
    background: #fbb034;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero-img img {
    width: 280px;
    border-radius: 10px;
}

/* ABOUT */
.about {
    padding: 60px;
    text-align: center;
}

.about p {
    margin-top: 15px;
    color: #aaa;
}

/* SKILLS */
.skills {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 60px;
}

.card {
    background: #1a1f36;
    padding: 30px;
    width: 220px;
    border-radius: 10px;
    text-align: center;
}

.card.active {
    background: #fbb034;
    color: #000;
}

/* STATS */
.stats {
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 50px;
}

.stats h2 {
    color: #fbb034;
    font-size: 36px;
}

/* CONTACT */
.contact {
    text-align: center;
    padding: 60px;
    background: #1a1f36;
}

.contact p {
    margin-top: 10px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #000;
    color: #777;
}